<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ročníkovkos</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<style>
    div.box{
        height: 200px;
        background-color: gray;
        margin: 15px 0;
        text-align: center;
        color: white;
    }
</style>
</head>
<body class="p-0 m-0 border-0 bd-example m-0 border-0" >
    <nav class="navbar bg-body-tertiary navbar-expand-lg" >
        <div class="container">
            <a class="navbar-brand" href="https://avatars.githubusercontent.com/u/34084239?s=280&v=4">
                <img src="https://avatars.githubusercontent.com/u/34084239?s=280&v=4" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            </a>        
        <a class="navbar-brand" href="{% url 'home' %}">Bazaros</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Kategorie
                </a>
                <ul class="dropdown-menu">
                    {% for category in category %}
                    <li><a class="dropdown-item" href="{% url 'category' category.id %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Login
                </a>
                <ul class="dropdown-menu">
                    {% if request.user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                    <li><a class="dropdown-item" href="">Profile</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'login' %}">Log in</a></li>
                    <li><a class="dropdown-item" href="{% url 'signup' %}">Sign up</a></li>
                    {% endif %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'resetpassword' %}">Cant login?</a></li>
                </ul>
            </li>
            </ul>

            <form class="d-flex" role="search" method="post">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched_text">
                <button class="btn btn-outline-success" type="submit" name="search">Search</button>
            </form>

               
        </div>
        </div>
    </nav>

    <div class="row g-2">
    {% for order in order %}
        <div class="col-12 col-sm-6" >
            <div class="box">{{ order.Title }}</div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="box">{{ order.Title }}</div>
        </div>
    {% endfor %}
    </div>
    <script src="homepage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>