<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAbazar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<body class="p-0 m-0 border-0 bd-example m-0 border-0" style="background-color: {{color}};">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="https://avatars.githubusercontent.com/u/34084239?s=280&v=4">
                <img src="https://avatars.githubusercontent.com/u/34084239?s=280&v=4" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            </a>     
            <a class="navbar-brand" href="{% url 'home' %}">GAbazar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        {% if request.user.is_authenticated %}
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Odhlásit se</a></li>
                            <li><a class="dropdown-item" href="{% url 'profile' %}">Můj účet</a></li>
                        </ul>
                        {% else %}
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Přihlášení
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'login' %}">Přihlásit se</a></li>
                            <li><a class="dropdown-item" href="{% url 'signup' %}">Vytvořit účet</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'reset_password' %}">Nemůžete se přihlásit?</a></li>
                        </ul>
                        {% endif %}
                    </li>           
                </ul>

                <form class="d-flex" role="search" method="post">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched_text">
                    <button class="btn btn-primary" type="submit" name="search">Search</button>
                </form>

                <div style="margin-left: 15px;">
                    <button class="btn btn-dark" style="border: 2px; border-color: white;" onclick="openPopup()">
                        Filtrovat
                    </button>
                </div>

                {% if request.user.is_authenticated %}
                    {% if color == 'grey' %}
                <div style="margin-left: 15px;">
                    <button class="btn btn-dark" type="submit">
                        <a href="/theme?color=light"  class="link-light" style="text-decoration: none">
                            Light mode
                        </a>
                    </button>
                </div>
                    {% else %}
                <div style="margin-left: 15px;">
                    <button class="btn btn-dark" type="submit">
                        <a href="/theme?color=dark"  class="link-light" style="text-decoration: none">
                            Dark mode
                        </a>
                    </button>
                </div>
                    {% endif %}
                {% endif %}
                <div class="d-flex">
                    <form class="d-flex" role="search" method="post">
                        <input type="checkbox" class="checkbox" id="mode-toggle">
                        <label class="mode-label" for="mode-toggle"></label>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <div class="row g-2">
    {% if not order == 'failed' %}
    {% for order in order %}
        <div class="col-12 col-sm-6" >
            <a href="{% url 'order' order.id %}" style="text-decoration: none">
                <div class="box">{{ order.Title }}</div>
            </a>
        </div>
    {% endfor %}
    {% else %}
        <div class="container" style="text-align: center; background-color: red; margin-top: 450px; border-radius: 50px;">
            <h1>Žádné inzeráty</h1>
        </div>
    {% endif %}
    </div>

    <div class="popup" id="popup">
        <h2>Filtrovat</h2>
        <form action="." method="post" role="filter">
            {% csrf_token %}
            <div class="form-group" style="margin-bottom: 15px;">
                <label for="ControlSelect" style="margin-bottom: 15px;">Kategorie</label>
                <select class="form-control" id="ControlSelect" name="category" style="background-color: white;">
                    <option value="0">Any</option>
                    {% for category in category %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="range">
                <label for="PriceRange">Cena</label>
                <div class="range_value">
                    <span>150000</span>
                </div>
                <div class="range_field">
                    <div class="value left">0</div>
                    <input type="range" class="form-range" id="PriceRange" name="price" min="0" max="300000" value="150000" steps="1">
                    <div class="value right">300000</div>
                </div>
            </div>
            <button class="btn btn-success" type="submit" name="filter" onclick="closePopup()">Filtrovat</button>
            <button class="btn btn-dark" onclick="closePopup">Zavřít</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function openPopup(){
            document.getElementById("popup").style.visibility = "visible";
            document.getElementById("popup").style.transform = "translate(-50%, -50%) scale(1)";
        }

        function closePopup(){
            document.getElementById("popup").style.visibility = "hidden";
            document.getElementById("popup").style.transform = "translate(-50%, -50%) scale(0.1)";
        }
    </script>
    <script>
        const slideValue = document.querySelector(".range_value span");
        const inputSlider = document.querySelector(".range_field input");
        inputSlider.oninput = (()=>{
            let value = inputSlider.value;
            slideValue.textContent = value;
            slideValue.style.left = (value/300000*100) + "%";
            slideValue.classList.add("show");
        });
        inputSlider.onblur = (()=>{
            slideValue.classList.remove("show");
        });
    </script>
</body>
</html>