div.box{
    margin: 20px 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
}

div.box .content,
div.box .image {
    flex: 1;
}

.responsive-image {
    height: 100%;
    max-width: 100%;
}
@media (max-width: 1024px) {
    .responsive-image {
        height: 75%;
    }
    
    .content {
        font-size: 90%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .responsive-image {
        height: 65%;
    }
    
    .content {
        font-size: 80%;
    }
}
@media (max-width: 768px) {
    div.box {
        flex-direction: column;
    }
    
    .responsive-image {
        height: 25%;
    }
}
@media (min-width: 575px) and (max-width: 767px) {
    div.box {
        flex-direction: column;
    }
    
    .responsive-image {
        width: 80%;
    }
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    background-color: lightblue;
    text-align: center;
    width: 500px;
    height: 500px;
    padding: 50px;
    border-radius: 10px;
}

.popup h2{
    font-size: 40px;
    font-weight: 600;
    margin: 20px 0 10px;
}

.range {
    height: 80px;
    width: 380px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.range .range_value {
    position: relative;
    width: 100%;
}
.range .range_value span{
    position: absolute;
    height: 45px;
    width: 45px;
    font-weight: 3000;
    font-size: 10px;
    top: -50px;
    transform: translateX(-50%) scale(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom;;
    line-height: 55px;
    z-index: 2;
}
.range .range_value span.show{
    transform: translateX(-50%) scale(1);
}
.range .range_value span:after{
    position: absolute;
    content: '';
    height: 45px;
    width: 45px;
    background: grey;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    line-height: 55px;
    border: 3px solid #fff;
    z-index: -1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.range .range_field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.range .range_field .value {
    position: absolute;
    font-size: 15px;
    font-weight: 600;
}
.range .range_field .value.left {
    left: -22px;
}
.range .range_field .value.right {
    right: -60px;
}
.range .range_field input{
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    width: 100%;
    background: #d3d3d3;
    border-radius: 5px;
    outline: none;
    border: none;
}

.button-mode-dark:hover{
    background-color: red;
    color: black;
}

.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
    overflow: auto;
}

.red-button {
    float: left;
}

.green-button {
    float: right;
}

.form-label .filter{
    font-weight: bold;
}

.form-control .filter{
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
