div.box{
    height: 170px;
    background-color: black;
    margin: 20px 20px;
    text-align: center;
    color: white;
}
div.box:hover{
    background-color: lightblue;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    background-color: lightblue;
    text-align: center;
    width: 500px;
    height: 500px;
    padding: 50px;
    border-radius: 10px;
}

.popup h2{
    font-size: 40px;
    font-weight: 600;
    margin: 20px 0 10px;
}

.range {
    height: 80px;
    width: 380px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.range .range_value {
    position: relative;
    width: 100%;
}
.range .range_value span{
    position: absolute;
    height: 45px;
    width: 45px;
    font-weight: 3000;
    font-size: 10px;
    top: -50px;
    transform: translateX(-50%) scale(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom;;
    line-height: 55px;
    z-index: 2;
}
.range .range_value span.show{
    transform: translateX(-50%) scale(1);
}
.range .range_value span:after{
    position: absolute;
    content: '';
    height: 45px;
    width: 45px;
    background: grey;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    line-height: 55px;
    border: 3px solid #fff;
    z-index: -1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.range .range_field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.range .range_field .value {
    position: absolute;
    font-size: 15px;
    font-weight: 600;
}
.range .range_field .value.left {
    left: -22px;
}
.range .range_field .value.right {
    right: -60px;
}
.range .range_field input{
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    width: 100%;
    background: #d3d3d3;
    border-radius: 5px;
    outline: none;
    border: none;
}
.mode-label {
    width: 72px;
    height: 28px;
    position: relative;
    margin-top: 9px;
    margin-left: 15px;
    display: block;
    background: #ebebeb;
    border-radius: 28px;
    box-shadow: inset 0 8px 28px rgba(0,0,0,0.4) inset 0px -8px 28px rgba(225,225,225,0.4);
    cursor: pointer;
    transition: 0.3s;
}
.mode-label::after{
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 25px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
}
.checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
}
.checkbox:checked + .mode-label{
    background: #242424;
}
.checkbox:checked + .mode-label::after{
    left: calc(100% - 2px);
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}
.mode-label:active::after{
    width: 45px;
}
.mode_tip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
  .mode_tip .mode_tip_text {
    visibility: hidden;
    width: 120px;
    top: 100%;
    left: 50%; 
    margin-left: -52px;
    background-color: #3a3a3a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
  
  .mode_tip:hover .mode_tip_text {
    visibility: visible;
}
